* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background: #84596b;
    --header: #440d0f;
}
 .header {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 25px 15px;
 }
 .content {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
 }
.about h2 {
    text-align: center;
}
.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.about-info {
    margin: 15px;
    display: flex;
    justify-content: flex-start;
}
.info {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 25px;
    width: 30%;
    line-height: 1.5;
}
.info {
    text-align: center;
}
.skills {
    padding-top: 15px;
}
.skills ul {
    list-style-type: none;
}
.photo {
    margin: 25px;
    width: 30%;
}
.self-img {
    border-radius: 200px;
}
.work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.work div {
    display: flex;
    justify-content: space-around;
}
.work img {
    max-width: 100%;
    max-block-size: 150px;
}
