* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --nav-footer: #3e3e3b;
    --content-box: #4c586f;
    --background: #a2aab0;
    --font: #cbc5c1;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--background);
    color: var(--font);
    
}
.header {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 25px 15px;
     font-size: 30px;
     background-color: var(--nav-footer);
     border-radius: 0 0 15px 15px;
}
h1 {
    margin: 0;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
h1 a {
    text-decoration: none;
    color: var(--font);
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px;
    
}
nav a {
    font-size: 20px;
    padding: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: var(--font);
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

nav a:hover {
    background-color: var(--background);
    color: var(--nav-footer);
}

hr {
    margin-top: 50px;
    width: 100%;
    height: 7px;
    background-color: var(--nav-footer);
    border-radius: 15px;
    border: none;
 }
.hr-footer {
    margin-bottom: 25px;
}
.content {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: space-evenly;
     background-color: var(--background);
}
h2 {
    text-align: left;
    margin: 40px 50px 15px 15px;
    padding: 15px;
    width: 20%;
    border-radius: 15px;
    border: solid 5px var(--nav-footer);
    font-size: 45px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    background-color: var(--content-box);
}
.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.about-info {
    font-size: 20px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
}
.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 25px;
    width: 30%;
    line-height: 2;
    border-radius: 15px;
    border: solid 5px var(--nav-footer);
    background-color: var(--content-box);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.skills {
    padding-top: 40px;
}

.self-img {
    margin: 25px;
    border-radius: 200px;
    border: solid 5px var(--nav-footer);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.work {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    grid-gap: 50px;
    margin: 0 50px 15px 50px;
    border-radius: 15px;
    padding: 50px;
}
.work div {
    flex: 1;
    margin-top: 0px;
    background-color:var(--content-box);
    padding: 15px 45px 45px 45px;
    border-radius: 15px;
    border: solid 5px var(--nav-footer);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.work div:hover {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.75);
    transform: scale(1.15);
}
.work h3 {
    font-size: 25px;
    padding-bottom: 10px;
}
.work a {
    text-decoration: none;
    color: var(--font);
    text-align: center;
}
.work img {
    max-width: 100%;
    max-block-size: 175px;
    border-radius: 15px;
}

.run-buddy img {
    max-width: 100%;
    max-block-size: 300px;
    border-radius: 15px;
}

footer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin: 25px 0 0 0;
    padding: 50px;
    background-color: var(--nav-footer);
}

footer h3 {
    margin-left: 0;
    font-size: 45px;
    text-decoration: underline;
}
footer p {
    padding-top: 15px;
    margin-right: 0;
    font-size: 25px;
}
footer a {
    color: var(--font);
    text-decoration: none;
}
footer a:hover {
    background-color: var(--content-box);
    padding: 0 10px;
    border-radius: 15px;
}

